.market_cap {
  width: 93%;
  background: var(--third-bg-color);
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media only screen and (max-height: 600px) {
  .market_cap {
    width: 94%;
    height: 41vh;
  }
}

@media only screen and (min-width: 992px) {
  .market_cap {
    height: 17vh;
  }
}
