.settings {
  padding-left: 10px;
  padding-bottom: 157px;
  border-radius: 30px;
  background: var(--secondary-bg-color);
  padding-top: 10vh;
  opacity: 0;
  pointer-events: none;
  margin-top: 1vh;
  overflow: hidden;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 0;
  width: 97%;
  height: 73%;

  .settings_email {
    display: none;
  }
  .page-title {
    margin-left: 10px;
  }
  .btn_settings {
    background: #2b263f;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    height: fit-content;
    color: var(--primary-font-color);
    font-family: inherit;
    font-size: 15px;
    cursor: pointer;
  }

  .input_settings {
    display: flex;
    margin-top: 2vh;
    border: 1px solid var(--third-font-color);
    border-radius: 10px;

    width: 60%;
    align-items: center;
    p {
      margin-left: 10px;
      font-size: 19px;
      color: var(--primary-font-color);
    }
    input {
      background: var(--third-bg-color);
      border: none;
      outline: none;
      color: var(--primary-font-color);
      caret-color: #1baa63;
      border-radius: 10px;
      font-family: inherit;
      padding: 8px;

      &::placeholder {
        font-family: inherit;
        color: #484558;
        font-size: 12px;
      }
    }
  }
  .settings_top_right {
    display: none;
  }
}
.settings_theme {
  display: none !important;
}

@media only screen and (min-width: 992px) {
  .settings {
    padding-left: 208px;
    bottom: 432vh;
    scale: 0.97;
    height: 100%;
    .settings_email,
    .settings_username,
    .settings_email,
    .settings_picture {
      width: 300px;
      padding: 15px 20px;
      .input {
        width: 90%;
      }
    }
    .settings_theme {
      width: 150px;
      display: none !important;
    }

    .settings_founds {
      width: 250px;
      .input {
        width: 90%;
      }
    }
    .settings_picture {
      width: 220px;
    }
    .settings_theme:last-child {
      display: none;
    }
    .page-title {
      margin-left: 1%;
    }

    .settings_top {
      display: flex;
      .settings_top_right {
        display: flex;
        width: 64.5%;
        margin-left: 10px;
        .settings_theme {
          display: flex;
        }
        .theme {
          width: 100%;
        }
      }
    }
  }
}
