@import "theme/_variables.scss";
.toggle_menu {
  transform: none !important;
}
.is_active {
  .menu_item_icon {
    background: linear-gradient(
      146deg,
      rgba(11, 171, 80, 1) 0%,
      rgba(30, 176, 149, 1) 100%
    ) !important;
  }

  color: var(--primary-font-color) !important;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  position: absolute;
  top: 90px;
  left: 0;
  bottom: 0;
  margin-left: 5vw;
  z-index: 10000;
  transform: translateX(-50vw);
  transition: all 0.5s ease;

  background-color: var(--app-bg);

  .user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 4vh;
    height: 18vh;

    .user_icon {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      margin-bottom: 1vh;
    }
    .user_name {
      font-size: 20px;
      margin-top: 1vh;
    }
    .user_email {
      font-size: 14px;
      color: var(--secondary-font-color);
    }
  }
  nav {
    a {
      text-decoration: none;
    }
  }
  .john {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .menu {
    transform: none;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 40px;
    background-color: var(--secondary-bg-color);
    .user {
      display: none;
    }
    .menu_changelog {
      display: none !important;
    }
    .menu_item {
      margin: 30px 0 !important;
    }
    .john {
      display: inline-block;
      position: absolute;
      bottom: 5vh;
      right: 1vw;
      text-align: center;
      img {
        width: 100%;
      }
      p {
        font-size: 15px;
        margin-bottom: 5px;
      }
      p:nth-child(3) {
        color: #848093;
        font-size: 13px;
        margin-bottom: 15px;
      }
      span {
        cursor: pointer;
        border-radius: 9px;
        padding: 10px 45px;
        background: rgba(11, 171, 80, 1);
      }
    }
  }
}
