.market_cap_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 3.5vh;
	width: 95.8%;
	.item_name {
		width: 180px;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		p {
			margin-left: 5px;
		}
		svg {
			scale: 0.9;
		}
	}
	.item_variation {
		display: flex;
		align-items: center;
		width: 55px;
		margin-left: 5%;
		margin-right: 6%;
		svg {
			width: 15px;
			margin-right: 5px;
		}
		p:first-child {
			margin-right: 5px;
		}
	}
	.item_volume {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 185px;
		p:first-child {
			margin-right: 5px;
		}
		p:last-child {
			font-size: 14px;
		}
	}
}

@media only screen and (min-width: 992px) {
	.market_cap_item {
		padding-top: 2.1vh;
		.item_variation {
			margin-right: 2.5%;
		}
	}
}
