.growth {
  width: 93%;
  height: 36vh;
  background-color: var(--third-bg-color);
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 2vh;
  transition: background-color 0.3s ease;
  .tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 22px;

    .tabs_left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      span {
        cursor: pointer;
        color: #c4c3c9;
        &:hover {
          color: #fff;
        }
      }
      .btn_growth_active {
        color: var(--primary-font-color);
      }
    }
    .tabs_right {
      display: flex;
      align-items: flex-start;
      cursor: pointer;
      color: #f8f7f9;

      border-radius: 6px;
      padding: 3px 0px;
      font-size: 15px;
      z-index: 10;

      height: 26px;
      transition: all 0.35s ease-in;

      width: 103px;

      .currency-select {
        position: relative;
        top: 3px;
      }

      svg {
        fill: #c8c6d2;
        height: 22px !important;
        position: relative;
        top: -1px !important;
        left: 73px;
        margin-left: 5px;
        width: auto;
        pointer-events: none;
      }
    }
  }

  .graph {
    position: relative;
    top: 0px;
    .grid {
      display: none !important;
    }
    &::after {
      top: -16vh;
      left: 2%;
      right: 2%;
    }
    .recharts-surface {
      top: -7.5vh;
    }
  }
}
@media only screen and (max-height: 650px) {
  .growth {
    .graph {
      top: -50px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .growth {
    width: 99%;
    margin-left: 0;
    height: 44vh;
    .graph_container {
      width: 97%;
      position: relative;
      top: 2vh;
    }
    .graph {
      .recharts-surface {
        position: relative;
        top: 60px;
      }
    }
    .graph::after {
      top: -4vh;
      bottom: -12vh;
      width: 98.2%;
    }
    .tabs_left {
      .btn_growth {
        border-radius: 4px;
        padding: 5px 15px;
        background: #2b263f;
        width: 23px;
        text-align: center;
        font-size: 15px;
        &:hover {
          background: var(--primary-font-color);
          color: #2d2a38 !important;
        }
      }

      .btn_growth_active {
        background: var(--primary-font-color);
        color: #2d2a38 !important;
      }
    }

    .tabs_right {
      background: #2b263f;

      svg {
        fill: #c8c6d2;
        height: 22px !important;
        position: relative;
        top: -1px !important;
        left: 73px;
        margin-left: 5px;
        width: auto;
        pointer-events: none;
      }
    }
  }
}
