.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--third-bg-color);
  border-radius: 10px;
  padding: 20px 10px;

  color: var(--primary-font-color);
  img {
    width: 100%;
    border-radius: 10px;
  }
  .article_title {
    margin: 10px 0;
  }
}
a {
  margin: 20px 0;
  width: 85%;
  text-decoration: none !important;
}

@media only screen and (min-width: 992px) {
  .article {
    width: 80%;
    img {
      width: 95%;
    }
  }
}
