.changelog {
  padding-left: 19px;
  padding-bottom: 17px;
  border-radius: 30px;
  z-index: 50;

  content-visibility: auto;

  background: var(--secondary-bg-color);
  padding-top: 10vh;
  opacity: 0;
  pointer-events: none;
  margin-top: 1vh;
  overflow: hidden;
  position: absolute;
  transition: background-color 0.3s ease;
  top: 0;
  height: 89%;
  width: 94%;
  bottom: 0;
  .page-title,
  .title {
    margin-left: 1%;
  }
  .change_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0;
    .added,
    .updated,
    .fixed {
      width: 70px;
      height: 22px;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      margin-right: 10px;
      font-size: 13px;
    }
    .added {
      background: #1baa63;
    }
    .updated {
      background: #4689b6;
    }
    .fixed {
      background: #db9a67;
    }
    .added::after {
      content: "Added";
    }
    .updated::after {
      content: "Updated";
    }
    .fixed::after {
      content: "Fixed";
    }
  }
  .note_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0;
    .point {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: grey;
    }
    .added,
    .updated,
    .fixed {
      font-weight: bold;
      font-size: 16px;
      color: grey;
      margin: 0 10px;
    }
    .added::after {
      content: "Added";
    }
    .updated::after {
      content: "Updated";
    }
    .fixed::after {
      content: "Fixed";
    }
  }
}

@media only screen and (min-width: 992px) {
  .changelog {
    padding-left: 208px;
    bottom: 308.5vh;
    .title,
    .page-title {
      margin-left: 1%;
    }
  }
}
