.stat_item {
	display: flex;
	padding-top: 3vh;
	width: 80%;
	color: var(--primary-font-color);

	.stat_variation {
		display: flex;
		margin-left: 10%;
		svg {
			width: 15px;
			margin-right: 5px;
		}
		p:last-child {
			margin-left: 5px;
		}
	}
	.stat_price {
		margin-left: 10%;
		display: flex;
		width: 300px;
		p:first-child {
			margin-right: 5px;
		}
	}
	.stat_graph {
		position: relative;
		bottom: 60px;
		margin-left: 5%;
		.grid {
			display: none;
		}
	}
}
