:root {
	--app-bg: #171429;
	--primary-font-color: #f2f2f4;
	--secondary-font-color: #bcbbc5;
	--third-font-color: #484558;
	--secondary-bg-color: #171429; //#221e34;
	--third-bg-color: #221e34; //#29253b;
}
