.portfolio {
  padding-left: 19px;
  padding-bottom: 32vh;
  border-radius: 30px;

  content-visibility: auto;

  background: var(--secondary-bg-color);
  padding-top: 10vh;
  opacity: 0;
  pointer-events: none;
  margin-top: 1vh;
  transition: background-color 0.3s ease;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 94%;
  bottom: 0;
  .page-title,
  .title {
    margin-left: 1%;
  }

  .portfolio_container {
    width: 95.5%;
    background: var(--third-bg-color);
    transition: background-color 0.3s ease;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2vh;
  }
  .crypto {
    display: none;
  }

  .input {
    border-bottom: 1px solid var(--third-font-color);
    display: flex;
    align-items: center;
    padding-bottom: 1vh;
    margin-left: 6vw;
    width: 60%;
    margin-right: 4vw;
    .dollar {
      color: var(--third-font-color);
      font-size: 18px;
    }
    input {
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 4px;
      font-size: 18px;
      font-family: Karla;
      background: var(--third-bg-color);
      caret-color: #4a58f3;
      color: var(--primary-font-color);
      padding-left: 20px;
      width: 90%;
    }
  }

  .balance_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 98%;
    .infoboxD {
      margin-right: 10px;
      .infobox_bottom {
        font-size: 20px;
      }
    }
    .balance_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      &:first-of-type {
        margin-bottom: 1vh;
      }
    }
  }
}

@media only screen and (max-height: 600px) {
  .portfolio {
    bottom: 261vh;
    height: 100%;

    .infobox_bottom,
    input {
      font-size: 16px !important;
    }
    .portfolio_item {
      padding-top: 7.3vh;
    }
  }
}

@media only screen and (min-width: 992px) {
  .portfolio {
    padding-left: 200px;
    width: 95%;
    top: -6px;
    .portfolio_container {
      width: 86%;
    }
    .page-title,
    .title {
      margin-left: 1%;
    }

    .balance_container {
      align-items: center;
      justify-content: center;
      margin-bottom: 0vh;
      transition: background-color 0.3s ease;
      background-color: var(--third-bg-color);
      border-radius: 20px;
      padding: 25px 35px;
      height: fit-content;
      flex-direction: row;
      width: 81%;

      .balance_top:last-of-type > .infoboxD:last-child {
        border-right: none;
        padding-right: 00px;
      }
    }
    .infoboxD {
      border-radius: 0px;
      width: 11vw !important;
      .infobox_bottom {
        font-size: 20px;
      }
    }
  }
}
