@import "./hamburgers/hamburgers.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh 3.2vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  width: 86%;
  .disable_event {
    pointer-events: none !important;
  }
  .btn_menu_active {
    fill: #787878 !important;
  }
  .header_input {
    display: none;
  }
  .menu_icon {
    position: relative;
    top: 3.5px;
  }

  .header_logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 30px;
    cursor: pointer;
    .header_logo_container {
      display: flex;
      align-items: flex-end;
    }

    p {
      position: relative;
      top: 0.5vh;
      &::first-letter {
        font-size: 22px;
      }
    }

    .stick1 {
      border-radius: 20px;
      width: 3.5px;
      height: 20px;

      margin-right: 4px;
    }
    .stick2 {
      @extend .stick1;
      height: 25px;
    }
    .stick3 {
      @extend .stick1;
      height: 15px;
    }
    #logo_stick1 {
      background: #71ce98;
    }
    #logo_stick2 {
      background: #1baa63;
    }
    #logo_stick3 {
      background: #209654;
    }

    font-size: 20px;
    font-weight: bolder;
  }
  .header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60px;
    height: 20px;
    .header_user_icon,
    .header_user_name {
      display: none;
    }
    .green_dot {
      background: #16d366;
      border-radius: 50%;
      height: 6px;
      width: 6px;
      position: relative;
      left: -8px;
      bottom: 5px;
      pointer-events: none;
    }
    .header_notification {
      fill: var(--primary-font-color) !important;
      height: 20px;
      width: 20px;
      cursor: pointer;
    }

    #btn_search_mobile {
      fill: var(--primary-font-color);
      height: 25px;

      width: 25px;
      position: absolute;
      top: -12.5px;
      right: 9vw;

      pointer-events: none;
    }
  }
  img {
    position: relative;
    top: 2px;
    margin-left: 12px;
    height: 25px;
  }
}

.search_header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  background-color: var(--app-bg);
}

label {
  position: relative;
  cursor: pointer;
}

.search-icon:before {
  content: "\f002";
  position: absolute;
  left: 16px;
  top: 16px;
  right: 16px;
  bottom: 0px;
  font-family: "FontAwesome";
  color: #828e9e;
}
.header_logout {
  position: absolute;
}
#search-bar {
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
  padding: 16px;
  border-radius: 8px;
  font-size: 1.2em;
  font-family: inherit;
  transition: width 0.5s;
  position: absolute;
  top: -3vh;
  right: 5vw;
  color: var(--primary-font-color);
  background-color: var(--app-bg);
  caret-color: #1baa63;
  cursor: pointer;
}

#search-bar:focus {
  width: 50vw;
}

#search-bar:focus ~ .search-icon {
  transition: 0.1s;
  opacity: 0;
}

@media only screen and (max-width: 400px) {
  #search-bar:focus {
    width: 50vw;
    transition: 0.5s;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    width: 95%;
  }
  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 28vw;
    .header_logo {
      position: relative;
      bottom: 5px;
      margin-left: 0;
    }
  }
  .search_header {
    display: none;
  }
  .search_icon_active {
    background: linear-gradient(
      146deg,
      rgba(11, 171, 80, 1) 0%,
      rgba(30, 176, 149, 1) 100%
    ) !important;
  }
  .search_icon {
    padding: 3px 0;
    border-radius: 4px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    svg {
      position: relative;
      right: 5px;
      top: 2px;
    }
  }
  .header_input {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #2d293f;
    background: #1c182e;
    border-radius: 8px;
    padding-left: 10px;
    margin-left: 50px;

    input {
      border: none;
      outline: none;
      background: #1c182e;
      font-family: inherit;
      color: var(--primary-font-color);
      width: 180px;
      &::placeholder {
        font-family: inherit;
        color: #484558;

        font-size: 12px;
      }
    }
    svg {
      margin-left: 10px;
      height: 15px;
      width: 15px;
      padding: 0 5px;
      fill: var(--primary-font-color);
      cursor: pointer;
    }
  }
  .menu_icon {
    display: none;
  }

  .header_right {
    width: fit-content !important;
    position: relative;
    top: 5px;
    .header_right_search,
    .header_logout,
    #btn_search_mobile {
      display: none;
    }
    .header_user_icon,
    .header_user_name {
      display: inline-block !important;
    }
    .header_user_icon {
      border-radius: 8px;
      width: 27px;
      height: 27px !important;
      margin-bottom: 7px;
    }

    .header_user_name {
      margin: 0 5px;
      color: var(--secondary-font-color);
      display: flex !important;
      align-items: center;
      justify-content: center;
      cursor: pointer !important;
      padding: 5px;
      background: var(--app-bg);
      min-width: 60px;
      .username:hover {
        color: var(--primary-font-color);
      }

      &:hover {
        .header_user_logout {
          span:hover {
            color: var(--primary-font-color);
          }
        }
      }

      .header_user_logout_active {
        bottom: -17px !important;
      }
      .header_arrow {
        fill: var(--secondary-font-color);
        width: 10px;
        height: 10px;
        margin-left: 8px;
      }
      .header_user_logout {
        position: absolute;
        width: 75px;
        right: 1vw;
        bottom: 10px;
        height: 2vh;
        color: var(--third-font-color);
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        z-index: -1;
        border-radius: 10px;
      }
    }
  }
}
