.searchPage {
	padding-left: 19px;
	padding-bottom: 3vh;
	border-radius: 30px;

	background: var(--secondary-bg-color);
	padding-top: 10vh;
	opacity: 1;

	pointer-events: none;
	margin-top: 1vh;
	overflow: hidden;
	position: relative;
	bottom: 305vh;
	height: 100vh;
	.coins_container {
		width: 95%;
		background: var(--third-bg-color);
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-bottom: 2vh;
	}
	.stats_container {
		background: var(--third-bg-color);
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-radius: 20px;
		padding-bottom: 2vh;
	}
}

@media only screen and (min-width: 992px) {
	.searchPage {
		padding-left: 209px;
		.page-title {
			margin-left: 1%;
		}
		.title {
			margin-left: 1%;
		}
	}
}
