.market {
  padding-left: 10px;
  padding-bottom: 20px;
  border-radius: 30px;
  content-visibility: auto;

  background: var(--secondary-bg-color);
  padding-top: 10vh;
  opacity: 0;
  pointer-events: none;
  margin-top: 1vh;
  overflow: hidden;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 0;
  width: 97.3%;

  .title {
    margin-left: 1%;
  }
  .page-title {
    margin-left: 3%;
  }

  .infobox_market {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }

    .graph {
      .recharts-responsive-container {
        top: 55px !important;
      }
    }
  }

  .market_content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 2vw;
    .portfolio_stats {
      display: none;
    }

    .market_right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
    }
  }
}

@media only screen and (max-height: 600px) {
  .market {
    bottom: 130vh;
    padding-left: 8px;
    height: 100%;

    .page-title {
      margin-bottom: 1.5vh !important;
    }
    .title {
      margin-top: 1.8vh;
    }
  }
}

@media only screen and (min-width: 992px) {
  .market {
    padding-left: 208px;
    width: 89%;
    .infobox_market {
      width: 96%;
    }
    .page-title {
      margin-left: 1%;
    }
    .title {
      margin-left: 1%;
    }

    .recharts-surface {
      position: relative;

      bottom: 18%;
    }

    .market_content {
      width: 97%;
      height: 69vh;
      margin-left: 0;

      .portfolio_stats {
        display: flex;
      }
      .market_right {
        width: 460px;
      }
    }
  }
}
