.app {
	font-family: Karla;
	color: #f2f1f5;
	overflow: hidden;
	padding-right: 0.5vw;
}

.shadow {
	background: #100d22;
	width: 100vw;
	height: 102vh;
	padding-top: 10vh;
	border-radius: 30px;
	position: absolute;
	top: 5vh;
	right: 6vw;
	z-index: -1;
	transition: all 0.47s ease;
	rotate: -1deg;
	opacity: 0;
	transform: scale(0.9);
}
.menu_active {
	transform: translateX(44vw) scale(0.7) translateY(-5vh);
}
.opacity {
	opacity: 1;
}

@media only screen and (min-width: 992px) {
	.shadow {
		display: none;
	}
	.app {
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
